<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Login</title>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
</head>

<body>
    <h1>Login Page</h1>

    <!-- <form action="/room.ejs" method="get" >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Login</button>
    </form> -->
    <form id="loginForm"  method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <input type="hidden" name="roomId" value="<%= roomId %>">
        <button type="submit">Login</button>
    </form>
    

</body>

<script>
//     function submitLoginForm(event) {
//         event.preventDefault(); // Prevent the default form submission behavior

//         const username = document.getElementById('username').value;
//         const roomId = '<%= roomId %>';
//         const formData = { username, roomId };

//         fetch('/login', {
//             method: 'POST',
//             headers: {
//                 'Content-Type': 'application/json',
//             },
//             body: JSON.stringify(formData),
//         })
//         .then(response => response.json())
//         .then(data => {
//             console.log(data);
//             window.location.href = `/${roomId}`;
//         })
//         .catch(error => {
//             console.error('Error:', error);
//         });
//     }
// </script>
</html>