<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/9f8c4ceea7.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
</head>

<body>
    <div id="ac-wrapper">
        <div id="popup">
            <div>
                <h2>your name?</h2>
                <input type="text" name="name" id="name"  class="name" /><br><br>
                <input type="submit" name="submit" id="save" value="Submit" onclick="hidePopup()" class="submit" />

            </div>
        </div>
    </div>

    <div class="main">
        <div class="main_left">
            <div class="main_videos">
                <div id="video-grid">

                </div>
            </div>
            <div class="emoji-action" id="emoji-action"></div>
            <div class="emoji-animation-container" id="emoji-animation">
                <button class="emoji-button" data-emoji="😊">😊</button>
                <button class="emoji-button" data-emoji="👍">👍</button>
                <button class="emoji-button" data-emoji="❤️">❤️</button>
                <button class="emoji-button" data-emoji="😂">😂</button>
                <button class="emoji-button" data-emoji="👋">👋</button>
            </div>
            <div class="main_controls">

                <div class="main_controls_block">
                    <div onclick="leaveMeeting(ROOM_ID)" class="main_controls_button  main_leaveMeeting">
                        <span class="leave_meeting">Leave Meeting</span>
                    </div>

                </div>
                <div class="main_controls_block">
                    <!-- <div class="main_controls_button">
                            <i class="fas fa-shield-alt"></i>
                            <span>Security</span>
                        </div>
                        <div class="main_controls_button">
                            <i class="fas fa-user-alt"></i>
                            <span>Participants</span>
                        </div>
                        <div class="main_controls_button">
                            <i class="fas fa-comment-alt"></i>
                            <span>Chat</span>
                        </div> -->
                    <div onclick="muteUnmute()" class="main_controls_button main_mute_button">
                        <i class="fa-solid fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div onclick="playStop()" class="main_controls_button main_video_button">
                        <i class="fa-solid fa-video"></i>
                        <span>Stop video</span>
                    </div>


                </div>


                <div class="main_controls_block">
                    <div id="username-display"  style="margin-top: 13px; margin-right: 6px ;font-size: large;"></div>

                    <span id="current-time" style="margin-top: 13px; margin-right: 6px ;font-size: large;"></span>
                </div>
            </div>
        </div>
        <div class="main_right" style="width: 20%;">
            <div class="main_header">
                <h6 style="font-size: large;">Chat </h6>
            </div>
            <div class="main_chat_window">
                <ul class="messages">

                </ul>
            </div>
            <div class="main_messages_container">
                <input id="chat_messages" type="text" placeholder="Type message here... "
                    style="padding: 3%; background-color: rgb(255, 192, 192); color: black; border-radius: 1%;">
            </div>
        </div>

    </div>

    <script src="script.js"></script>

</body>

</html>